.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.741211;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls28{letter-spacing:-27.400000px;}
.ls1{letter-spacing:-21.200001px;}
.ls16{letter-spacing:-20.799999px;}
.ls19{letter-spacing:-16.200001px;}
.ls2{letter-spacing:-15.800000px;}
.ls17{letter-spacing:-15.600000px;}
.ls18{letter-spacing:-13.200000px;}
.ls15{letter-spacing:-12.400000px;}
.ls1c{letter-spacing:-11.000000px;}
.ls27{letter-spacing:-10.800000px;}
.ls29{letter-spacing:-9.160000px;}
.ls2c{letter-spacing:-8.160000px;}
.ls2b{letter-spacing:-8.000000px;}
.ls3{letter-spacing:-7.800000px;}
.ls21{letter-spacing:-7.200000px;}
.ls1b{letter-spacing:-7.000000px;}
.ls23{letter-spacing:-6.600000px;}
.ls25{letter-spacing:-6.200000px;}
.ls1e{letter-spacing:-5.800000px;}
.lsd{letter-spacing:-5.400000px;}
.ls2d{letter-spacing:-5.200000px;}
.ls2a{letter-spacing:-5.000000px;}
.ls4{letter-spacing:-4.800000px;}
.ls1f{letter-spacing:-4.560000px;}
.lsf{letter-spacing:-4.400000px;}
.lsc{letter-spacing:-4.200000px;}
.lse{letter-spacing:-4.000000px;}
.ls7{letter-spacing:-3.800000px;}
.ls8{letter-spacing:-3.600000px;}
.ls11{letter-spacing:-3.400000px;}
.ls10{letter-spacing:-3.200000px;}
.ls9{letter-spacing:-3.000000px;}
.ls5{letter-spacing:-2.600000px;}
.lsa{letter-spacing:-2.000000px;}
.ls22{letter-spacing:-1.800000px;}
.ls12{letter-spacing:-1.400000px;}
.ls6{letter-spacing:-1.000000px;}
.ls1a{letter-spacing:-0.800000px;}
.lsb{letter-spacing:-0.600000px;}
.ls13{letter-spacing:-0.400000px;}
.ls0{letter-spacing:0.000000px;}
.ls1d{letter-spacing:0.600000px;}
.ls26{letter-spacing:2.400000px;}
.ls20{letter-spacing:2.800000px;}
.ls24{letter-spacing:8.160000px;}
.ls14{letter-spacing:15.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.113244px;}
._1{width:2.469756px;}
._4{width:19.844000px;}
._3{width:22.844000px;}
._2{width:301.805920px;}
.fc7{color:rgb(187,138,0);}
.fc6{color:rgb(31,73,125);}
.fc5{color:rgb(83,28,0);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(23,55,94);}
.fc2{color:rgb(228,108,10);}
.fc4{color:rgb(96,46,4);}
.fc3{color:rgb(0,32,96);}
.fs8{font-size:40.000000px;}
.fs6{font-size:42.000000px;}
.fs5{font-size:44.000000px;}
.fs4{font-size:48.000000px;}
.fs7{font-size:56.000000px;}
.fs3{font-size:64.000000px;}
.fs2{font-size:80.000000px;}
.fs9{font-size:82.000000px;}
.fsb{font-size:96.000000px;}
.fsa{font-size:110.000000px;}
.fs1{font-size:128.000000px;}
.fsc{font-size:140.000000px;}
.fsd{font-size:224.000000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y1b{bottom:27.770535px;}
.y1a{bottom:122.148621px;}
.y45{bottom:124.030001px;}
.y4{bottom:168.047989px;}
.yc{bottom:175.679993px;}
.y44{bottom:184.030001px;}
.y12{bottom:198.502396px;}
.yb{bottom:199.679993px;}
.y3{bottom:206.447990px;}
.y1e{bottom:208.870296px;}
.y19{bottom:216.370296px;}
.y2e{bottom:221.280014px;}
.y11{bottom:222.502380px;}
.ya{bottom:223.679993px;}
.y1d{bottom:224.296738px;}
.y37{bottom:233.279984px;}
.y2d{bottom:245.280014px;}
.y9{bottom:247.679993px;}
.y36{bottom:257.279984px;}
.y2c{bottom:269.280014px;}
.y8{bottom:271.679995px;}
.y3b{bottom:276.850006px;}
.y35{bottom:281.279984px;}
.y2b{bottom:293.280014px;}
.y18{bottom:304.452660px;}
.y3a{bottom:305.120003px;}
.y34{bottom:305.279984px;}
.y10{bottom:306.306305px;}
.y1c{bottom:310.122662px;}
.y17{bottom:315.792660px;}
.y2a{bottom:317.280014px;}
.y1{bottom:323.218029px;}
.y2{bottom:325.657341px;}
.y43{bottom:327.620033px;}
.y33{bottom:329.279984px;}
.y23{bottom:334.686928px;}
.y29{bottom:341.280014px;}
.y3f{bottom:343.679993px;}
.y32{bottom:353.279984px;}
.y22{bottom:361.736931px;}
.y39{bottom:362.040001px;}
.y28{bottom:365.280014px;}
.y3e{bottom:367.679993px;}
.y7{bottom:373.680008px;}
.y31{bottom:377.279984px;}
.y16{bottom:388.238560px;}
.y21{bottom:389.236927px;}
.y27{bottom:389.280014px;}
.y42{bottom:390.233986px;}
.y38{bottom:390.310003px;}
.y3d{bottom:391.679995px;}
.y6{bottom:397.680010px;}
.yf{bottom:401.257561px;}
.y30{bottom:401.279985px;}
.y15{bottom:405.385677px;}
.y26{bottom:413.280014px;}
.y20{bottom:416.736925px;}
.y14{bottom:418.345678px;}
.ye{bottom:425.089565px;}
.y3c{bottom:426.235996px;}
.y25{bottom:437.280016px;}
.y13{bottom:478.747997px;}
.y24{bottom:486.047997px;}
.y41{bottom:487.939999px;}
.y1f{bottom:490.747997px;}
.y2f{bottom:492.047997px;}
.y40{bottom:494.447998px;}
.y5{bottom:495.053993px;}
.yd{bottom:495.583916px;}
.hb{height:28.710938px;}
.h7{height:29.906250px;}
.h8{height:30.146484px;}
.h6{height:32.625000px;}
.h9{height:34.453125px;}
.ha{height:40.195312px;}
.h4{height:57.421875px;}
.h11{height:58.281250px;}
.hc{height:58.857422px;}
.he{height:65.250000px;}
.hd{height:78.955078px;}
.h5{height:87.000000px;}
.h2{height:91.875000px;}
.h3{height:93.187500px;}
.hf{height:100.488281px;}
.h10{height:152.250000px;}
.h1{height:174.843750px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x7{left:8.257843px;}
.x1d{left:19.000000px;}
.xb{left:25.000000px;}
.xd{left:28.000000px;}
.x1f{left:30.000000px;}
.x20{left:37.000000px;}
.x24{left:44.799927px;}
.x22{left:61.200012px;}
.xa{left:67.200012px;}
.x23{left:73.000015px;}
.xc{left:74.599998px;}
.x2{left:78.000000px;}
.x1{left:80.439311px;}
.xe{left:85.000000px;}
.x9{left:119.119995px;}
.x21{left:156.488266px;}
.x15{left:160.043861px;}
.x14{left:161.481361px;}
.x13{left:178.918861px;}
.x12{left:181.481361px;}
.x4{left:201.369133px;}
.x3{left:203.808441px;}
.x8{left:273.039062px;}
.x6{left:281.378891px;}
.x5{left:283.818207px;}
.x16{left:286.184334px;}
.x18{left:295.996834px;}
.x17{left:310.684334px;}
.x1e{left:342.000000px;}
.x11{left:352.504585px;}
.xf{left:365.692085px;}
.x10{left:370.192085px;}
.x19{left:407.699806px;}
.x1a{left:427.887306px;}
.x1c{left:548.840279px;}
.x1b{left:564.840279px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls28{letter-spacing:-36.533333pt;}
.ls1{letter-spacing:-28.266668pt;}
.ls16{letter-spacing:-27.733332pt;}
.ls19{letter-spacing:-21.600001pt;}
.ls2{letter-spacing:-21.066667pt;}
.ls17{letter-spacing:-20.800001pt;}
.ls18{letter-spacing:-17.600000pt;}
.ls15{letter-spacing:-16.533333pt;}
.ls1c{letter-spacing:-14.666667pt;}
.ls27{letter-spacing:-14.400000pt;}
.ls29{letter-spacing:-12.213333pt;}
.ls2c{letter-spacing:-10.880000pt;}
.ls2b{letter-spacing:-10.666667pt;}
.ls3{letter-spacing:-10.400000pt;}
.ls21{letter-spacing:-9.600000pt;}
.ls1b{letter-spacing:-9.333333pt;}
.ls23{letter-spacing:-8.800000pt;}
.ls25{letter-spacing:-8.266666pt;}
.ls1e{letter-spacing:-7.733334pt;}
.lsd{letter-spacing:-7.200000pt;}
.ls2d{letter-spacing:-6.933333pt;}
.ls2a{letter-spacing:-6.666667pt;}
.ls4{letter-spacing:-6.400000pt;}
.ls1f{letter-spacing:-6.080000pt;}
.lsf{letter-spacing:-5.866667pt;}
.lsc{letter-spacing:-5.600000pt;}
.lse{letter-spacing:-5.333333pt;}
.ls7{letter-spacing:-5.066667pt;}
.ls8{letter-spacing:-4.800000pt;}
.ls11{letter-spacing:-4.533333pt;}
.ls10{letter-spacing:-4.266667pt;}
.ls9{letter-spacing:-4.000000pt;}
.ls5{letter-spacing:-3.466667pt;}
.lsa{letter-spacing:-2.666667pt;}
.ls22{letter-spacing:-2.400000pt;}
.ls12{letter-spacing:-1.866667pt;}
.ls6{letter-spacing:-1.333333pt;}
.ls1a{letter-spacing:-1.066667pt;}
.lsb{letter-spacing:-0.800000pt;}
.ls13{letter-spacing:-0.533333pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1d{letter-spacing:0.800000pt;}
.ls26{letter-spacing:3.200000pt;}
.ls20{letter-spacing:3.733333pt;}
.ls24{letter-spacing:10.880000pt;}
.ls14{letter-spacing:20.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.484325pt;}
._1{width:3.293008pt;}
._4{width:26.458667pt;}
._3{width:30.458667pt;}
._2{width:402.407894pt;}
.fs8{font-size:53.333333pt;}
.fs6{font-size:56.000000pt;}
.fs5{font-size:58.666667pt;}
.fs4{font-size:64.000000pt;}
.fs7{font-size:74.666667pt;}
.fs3{font-size:85.333333pt;}
.fs2{font-size:106.666667pt;}
.fs9{font-size:109.333333pt;}
.fsb{font-size:128.000000pt;}
.fsa{font-size:146.666667pt;}
.fs1{font-size:170.666667pt;}
.fsc{font-size:186.666667pt;}
.fsd{font-size:298.666667pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y1b{bottom:37.027379pt;}
.y1a{bottom:162.864827pt;}
.y45{bottom:165.373334pt;}
.y4{bottom:224.063985pt;}
.yc{bottom:234.239990pt;}
.y44{bottom:245.373334pt;}
.y12{bottom:264.669861pt;}
.yb{bottom:266.239990pt;}
.y3{bottom:275.263987pt;}
.y1e{bottom:278.493729pt;}
.y19{bottom:288.493729pt;}
.y2e{bottom:295.040019pt;}
.y11{bottom:296.669840pt;}
.ya{bottom:298.239990pt;}
.y1d{bottom:299.062317pt;}
.y37{bottom:311.039978pt;}
.y2d{bottom:327.040019pt;}
.y9{bottom:330.239990pt;}
.y36{bottom:343.039978pt;}
.y2c{bottom:359.040019pt;}
.y8{bottom:362.239993pt;}
.y3b{bottom:369.133341pt;}
.y35{bottom:375.039978pt;}
.y2b{bottom:391.040019pt;}
.y18{bottom:405.936879pt;}
.y3a{bottom:406.826670pt;}
.y34{bottom:407.039978pt;}
.y10{bottom:408.408407pt;}
.y1c{bottom:413.496882pt;}
.y17{bottom:421.056880pt;}
.y2a{bottom:423.040019pt;}
.y1{bottom:430.957372pt;}
.y2{bottom:434.209788pt;}
.y43{bottom:436.826711pt;}
.y33{bottom:439.039978pt;}
.y23{bottom:446.249237pt;}
.y29{bottom:455.040019pt;}
.y3f{bottom:458.239990pt;}
.y32{bottom:471.039978pt;}
.y22{bottom:482.315908pt;}
.y39{bottom:482.720001pt;}
.y28{bottom:487.040019pt;}
.y3e{bottom:490.239990pt;}
.y7{bottom:498.240011pt;}
.y31{bottom:503.039978pt;}
.y16{bottom:517.651413pt;}
.y21{bottom:518.982569pt;}
.y27{bottom:519.040019pt;}
.y42{bottom:520.311981pt;}
.y38{bottom:520.413338pt;}
.y3d{bottom:522.239993pt;}
.y6{bottom:530.240013pt;}
.yf{bottom:535.010081pt;}
.y30{bottom:535.039981pt;}
.y15{bottom:540.514236pt;}
.y26{bottom:551.040019pt;}
.y20{bottom:555.649233pt;}
.y14{bottom:557.794238pt;}
.ye{bottom:566.786087pt;}
.y3c{bottom:568.314662pt;}
.y25{bottom:583.040021pt;}
.y13{bottom:638.330663pt;}
.y24{bottom:648.063995pt;}
.y41{bottom:650.586665pt;}
.y1f{bottom:654.330663pt;}
.y2f{bottom:656.063995pt;}
.y40{bottom:659.263997pt;}
.y5{bottom:660.071991pt;}
.yd{bottom:660.778554pt;}
.hb{height:38.281250pt;}
.h7{height:39.875000pt;}
.h8{height:40.195312pt;}
.h6{height:43.500000pt;}
.h9{height:45.937500pt;}
.ha{height:53.593750pt;}
.h4{height:76.562500pt;}
.h11{height:77.708333pt;}
.hc{height:78.476562pt;}
.he{height:87.000000pt;}
.hd{height:105.273438pt;}
.h5{height:116.000000pt;}
.h2{height:122.500000pt;}
.h3{height:124.250000pt;}
.hf{height:133.984375pt;}
.h10{height:203.000000pt;}
.h1{height:233.125000pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x7{left:11.010457pt;}
.x1d{left:25.333333pt;}
.xb{left:33.333333pt;}
.xd{left:37.333333pt;}
.x1f{left:40.000000pt;}
.x20{left:49.333333pt;}
.x24{left:59.733236pt;}
.x22{left:81.600016pt;}
.xa{left:89.600016pt;}
.x23{left:97.333354pt;}
.xc{left:99.466665pt;}
.x2{left:104.000000pt;}
.x1{left:107.252415pt;}
.xe{left:113.333333pt;}
.x9{left:158.826660pt;}
.x21{left:208.651021pt;}
.x15{left:213.391815pt;}
.x14{left:215.308482pt;}
.x13{left:238.558482pt;}
.x12{left:241.975149pt;}
.x4{left:268.492177pt;}
.x3{left:271.744588pt;}
.x8{left:364.052083pt;}
.x6{left:375.171855pt;}
.x5{left:378.424276pt;}
.x16{left:381.579112pt;}
.x18{left:394.662445pt;}
.x17{left:414.245778pt;}
.x1e{left:456.000000pt;}
.x11{left:470.006114pt;}
.xf{left:487.589447pt;}
.x10{left:493.589447pt;}
.x19{left:543.599742pt;}
.x1a{left:570.516408pt;}
.x1c{left:731.787038pt;}
.x1b{left:753.120372pt;}
}
